table.tickets-table thead th,
table.tickets-table tbody td{
    white-space: nowrap;
}

td.status{
    position: relative;
}

td.status a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: .75rem;
}

td.status-open{
    background-color: #238636;
    color: white;
    font-weight: bolder;
}

td.status-closed{
    background-color: rgb(137, 87, 229);
    color: white;
    font-weight: bolder;
}

td.status-solved{
    background-color: rgb(255, 128, 0);
    color: white;
    font-weight: bolder;
}

td.status-pending {
    background-color: #baab45;
    color: white;
    font-weight: bolder;
}

table.ticket-info-table tr td{
   border: 1px solid #f0f0f0;
}

table.ticket-info-table tr td:nth-of-type(odd){
    background-color: #d0d0d0 !important;
    text-align: right;
    padding: 3px 15px 3px 3px;
    font-weight: bolder;
}
table.ticket-info-table tr td:nth-of-type(even){
    text-align: left;
    padding: 3px 3px 3px 15px;
}

ul.ticket-comment-section{
    list-style: none;
}

ul.ticket-comment-section li:not(:last-of-type){
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
}

.comment-owner{
    font-size: 13px;
}

.userinitials.size-50{
    width: 50px;
    height: 50px;
}

button.tickets-widget{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #2d2d30;
}